.input {
  border-radius: var(--primary-bdr-radius);
  margin-bottom: 1rem;
  font-size: var(--fontSizeLarge);
}

.button {
  border: none;
  border-radius: var(--primary-bdr-radius);
  padding: 0.65rem;
  color: var(--black);
  font-weight: var(--fontWeightBold);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 100%;
  height: 38px;
  margin-bottom: 2rem;
  background: var(--primary);
}

.button:hover {
  color: var(--black);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}